---
import DefaultLayout from '../../layouts/default.astro'
import { getCollection } from 'astro:content';
const blogs = await getCollection('blog')
---

<DefaultLayout>
    <main class="container">
        {blogs.map(b =>
            <article>
                <hgroup>
                <h5>{b.data.title}</h5>
                <p>{b.data.published}</p>
                </hgroup>
                <p>{b.data.preview}</p>
                <a href={`/blog/${b.id}`} target="_blank">read more</a>
                <a href={`/blog/${b.id}`} class="contrast">
                </a>
            </article>
          )}
    </main>
</DefaultLayout>
