---
layout: default
---

<main class="container">
  <section class="header">
    <img src="/images/profile.jpg">
    <hgroup>
      <h1>Oli Nelson</h1>
      <p>Indie Software Developer / Drummer</p>
    </hgroup>
  </section>

  <section>
    <p>I help people become self-reliant through coding.
      <a href="https://cal.com/olinelson" target="_blank">Book a call</a>
      (free)</p>
  </section>

  <section>
    <a href="https://world.hey.com/olivernelson" target="_blank" class="contrast">
      <h4>Blog</h4>
    </a>
    <p>Thoughts, tutorials, and modern day musings. Sign up
      <a href="https://world.hey.com/olivernelson" target="_blank">here</a>
      to get this straight to your inbox.</p>
    <% site.data["blog_post_previews"].each do |p| %>

      <%= link_to  p["link"], target: "_blank", class:"contrast" do %>
        <article>
          <hgroup>
            <h5><%= p["title"] %></h5>
            <p><%= p["published"] %></p>
          </hgroup>
          <p><%= p["preview"] %>
            <%= link_to "read more", p["link"], target: "_blank" %></p>
        </article>
      <% end %>
    <% end %>
  </section>

  <section>
    <h4>Links</h4>

    <article>
      <a href="mailto:olivernelson@hey.com" target="_blank" class="contrast">
        <%= render "icons/envelope" %>
        olivernelson@hey.com
      </a>
    </article>

    <article>
      <a class="contrast" target="_blank" href="https://cal.com/olinelson">
        <%= render "icons/calendar-days" %>
        Book a call (free)
      </a>
    </article>

    <a href="https://github.com/olinelson" target="_blank" class="contrast">
      <article>
        <%= render "icons/github" %>
        <span>Github</span>
      </article>
    </a>

    <a href="https://x.com/o_j_nelson" target="_blank" class="contrast">
      <article>
        <%= render "icons/x" %>
        <span>/ Twitter</span>
      </article>
    </a>

    <a
      href="https://open.spotify.com/playlist/02iL2Vi9ONfgVKVG5DfGYz?si=bd53fa2abd8d4f5a"
      class="contrast"
      target="_blank"
    >
      <article>
        <%= render "icons/music-note" %>
        <span>Music</span>
      </article>
    </a>

    <article>
      <details>
        <summary>Misc</summary>
        <p>
          <a href="https://pianobeachstorybook.com" target="_blank">Piano Beach: Simple Piano + Story for Kids</a>
        </p>
        <p>
          <a href="https://allhandspianoacademy.com" target="_blank">All Hands Piano Academy</a>
        </p>
      </details>
    </article>
  </section>
</main>
